language: typescript
---

name: typeObject
phrase: type object
insertionScope: statement

$1.insertionFormatter: PUBLIC_CAMEL_CASE
-
type $1 = {
    $0
}
---

name: typeDeclaration
phrase: type
insertionScope: statement

$1.insertionFormatter: PUBLIC_CAMEL_CASE
-
type $1 = $0
---
